<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add Observations</title>
<link rel="stylesheet" type="text/css" th:src="@{/css/adminMeniu.css}" href="/css/adminMeniu.css"/>
</head>

<body>

<form th:action="@{/addComments}"  th:method='POST'>
<div id="content" >

    <h1>Add Comments</h1>

        <p>
            <label for="name" class="name"> Patient's name
            </label>
            <input type="text" name="name" id="name" placeholder="Search field" required="required" />
        </p>

        <p>
            <label for="date" class="date"> Consultation's date
            </label>
            <input type="date" name="date" id="date" placeholder="Search field" required="required"/>
        </p>

        <p>
            <label for="oraI" class="oraI"> Consultation starts at
            </label>
            <input type="time" name="oraI" id="oraI" placeholder="Consultation starts at:HH:MM " required="required" />
        </p>

	<p>
            <label for="comm" class="comm"> Observations
            </label>
            <input type="text" name="comm" id="comm" placeholder="Add an observation" required="required" />
        </p>

        <p>
             <button type="submit" name="action" value="add">Add</button>
        </p>

</div>
</form>
</body>
</html>