<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" th:src="@{/css/adminMeniu.css}" href="/css/adminMeniu.css"/>
</head>
<body>
<div id="content">
    <h1>Menu</h1>

    <p>
        <a th:href="@{/addConsultation}">
        <button class='dotted thin'>Create Consultation</button>
        </a>
   	</p>

    <p>
        <a th:href="@{/viewConsultation}">
        <button class='dotted thin'>View Consultation</button>
        </a>
   	</p>

    <p>
        <a th:href="@{/updateConsultation}">
        <button class='dotted thin'>Update Consultation</button>
        </a>
   	</p>


    <p>
        <a th:href="@{/deleteConsultation}">
         <button class='dotted thin'>Delete Consultation</button>
         </a>
   	</p>
	
    <p>
        <a th:href="@{/addPatient}">
         <button class='dotted thin'>Add Patient</button>
         </a>
   	</p>
	
    <p>
        <a th:href="@{/updatePatient}">
         <button class='dotted thin'>Update Patient</button>
         </a>
   	</p>

    <p>
        <a th:href="@{/viewPatient}">
            <button class='dotted thin'>View Patient</button>
        </a>
    </p>

    <p>
        <a th:href="@{/patientArrived}">
         <button class='dotted thin'>Patient arrived</button>
         </a>
   	</p>

   <p>
   	<a th:href="@{/logout}">
        <button class='dotted thin'>Log Out</button>
        </a>
   </p>

</div>
</body>
</html>